{% extends 'base.html' %}
<h1>What are data types?</h1>

<p>Data is defined as “the quantities, characters, or symbols on which operations are performed by a computer.” As you can see, there are many different kinds of data a computer could have to work with. To make this make sense to a computer we group data into different “data types”. </p>
<p><br><br>Python has several data types, but the basic ones we’ll focus on in this lesson are integers, floating point numbers, Booleans, and strings. <br><br>
#1 Integers <br><br>

An integer is any whole number just like in math. This could be 1, -1, or 100. They are called “Int” in python. <br><br>

Let’s look at an example using the “type” function.  We can put a variable into the parentheses of type, and it will tell us its data type. </p>
<img src = "images/code4.png" alt = "python code">
<p>#2 Floating point numbers (floats) <br><br></p>
<p>Floating point numbers, or “floats” for short, are numbers with decimal places. This could be 2.0, 5.1, or 100.102231231. Computers store these separately from integers because they have to do different things to store decimals. <br></p>
<p>Let’s look at another example with the type function. </p>
<img src = "images/code5.png" alt = "python code">
<p><br>#3 Booleans<br>A boolean is a value of “true” or “false”. These can be useful for conditional statements. You will learn what these are later in the course.<br>Let's look at an example</p>
<img src = "images/code6.png" alt = "python code">
<p>Boolean values are True and False spelled with the first letter uppercase. <br><br>

#4 Strings <br><br>

Strings are the way text, letters and words are represented in code. They have to be surrounded by single or double quotes, ‘ or “. Let’s look at an example! </p>
<img src = "images/code7.png" alt = "python code">
<p>Different data types each serve their own purpose. Applications of them will be demonstrated as the course continues.</p>