{% extends 'base.html' %}
<h1>What are operators?</h1>
<p>A very important part of almost any program is math, which is why operators are very important. <br>

There are two major groups of operators, mathematical and logic. This lesson will teach you about mathematical. <br>

First, we have basic math operators. <br>

#1 addition ‘+’ </p>

<img src = "images/code8.png" alt = "python code">

<p>#2 Subtraction '-'<br></p>

<img src = "images/code9.png" alt = "python code">

<p>#3 multiplication '*'</p>

<img src = "images/code10.png" alt = "python code">

<p>#4 division '/'</p>

<img src = "images/code11.png" alt = "python code">

<p>There are then a few more complex mathematical operators. <br>

First is exponentiation. This is a way to represent multiplying a number by itself. <br>

3^2 is the same thing as 3 * 3. so 3^2 and 3 * 3 = 9. <br></p>

<p>Exponentiation in python '**'</p>

<img src = "images/code12.png" alt = "python code">

<p>Another useful operator is floor division. This division will truncate the decimal. This means it will take the integer value of the division. Let’s look at an example to explain this. <br><br>

With normal division, 4 / 3 will give. Value of 1.33 </p>
<img src = "images/code13.png" alt = "python code">

<p>Floor division will see this, and cut off the decimal, taking the value of 1<br>Floor division '//'</p>
<img src = "images/code14.png" alt = "python code">

<p>Keep in mind, this is <strong>NOT</strong> rounding, where the decimal is used to put the value to the closest integer (ex. 3.5 -> 4) this is truncating, where the decimal is cut off entirely.</p>
<p>Those are all the purely mathmatical operators, but something that is also very useful is mathmatical assignment operators.<br>Let's look at my variable x</p>
<img src = "images/code15.png" alt = "python code">
<p>If i wanted to make it bigger by 1, I could do it like this:</p>
<img src = "images/code16.png" alt = "python code">
<p>However, if I wanted to be more efficent, I could instead use the '+=' operator.</p>
<img src = "images/code17.png" alt = "python code">

<p>This quality of life kind of operator exists for other mathematical functions as well! See below.</p>

<img src = "images/code18.png" alt = "python code">

<p>Finally, let's look at hte modulus operator.<br>The modulous operator is the 'remainder' operator if you learned about that in school. It gives the integer value that would be left over from two numbers being devided. Let's look at some examples to explain this</p>
<img src = "images/code19.png" alt = "python code">

<p>In the first example, because 9 divides into 3 equally, the remainder is zero. <br>

5 / 2 does not divide equally. However, 4/2 is 2. Because 5 is one bigger than 4, the remainder is 1. If it were to be divided equally, 1 would be left over. <br>

10 / 3 is the same idea. 9/3 divides out equally, and because 10 is 1 more, the remainder is one. <br>

Take a guess before looking at the next answer: what would 11 % 4 be? <br>

The answer is 3!! 8 / 4 = 0. 11 is 3 bigger than 8, so the remainder is 3. This can be a tricky concept, so feel free to practice it some more before moving on to fully understand. <br>

Operators are a very useful tool that we will continue using for the entire course. </p>