{% extends 'base.html' %}
{% block title %}What are logical operators?{% endblock %}

{% block content %}
<h1>What are logical operators?</h1>
<p>This lesson will go over logical and comparative operators. <br>

Python has several comparative operators. <br>

The first are less than, and greater than.  <br>

Less than ‘<’  <br>

Greater than ‘>’ </p>
<img src = "../../../static/images/code20.jpeg" alt = "python code">
<p>Then there are modifications of these two operators:<br>
    less than or equal to "<=" <br>
    and greater than or equal to ">="
</p>

<img src = "../../../static/images/code21.jpeg" alt = "python code">

<p>Next is the "==" operator, this checks for equality amongst 2 items</p>
<img src = "../../../static/images/code22.jpeg" alt = "python code">

<p>
    Next, we have the 3 logical operators: "and" "or" and "not" <br>
    
    These values will give a result based on Boolean values. <br>

    The “and” operator will be true if both values are true.  <br>

    The “or” operator will be true if either value are true. <br>

    The not operator will be true if a condition is false. <br>

    Let’s look at some examples!
</p>
<img src = "../../../static/images/code23.jpeg" alt = "python code">
<img src = "../../../static/images/code24.jpeg" alt = "python code">

<p>Finally, we have the logical operator "is". This operator checks if two objects are the same, not equal. Let's look at an example of this:</p>
<img src = "../../../static/images/code25.jpeg" alt = "python code">
<p>Although x and y have the same value, they are <strong>not</strong> the same object, which is why x is y is not true. The is operator is not used as much as the other logical operators but is useful to be aware of. </p>

<p><br>Overall, logical operators are integral tools to understand. Make sure to review these if you feel confused, as they will be very neccessary in the next unit.</p>
{% include 'partials/article_navigation.html' %}
{% endblock %}
