{% extends 'base.html' %}
{% block title %}What are variables?{% endblock %}

{% block content %}
<h1>What are print statements?</h1>


<p> Printing is one of the most basic yet helpful function in python, capable of printing information to the console.</p> 

<p> ‘Print()’ statements are unbelievably useful because can print a sentence, a function, a combination of different values and can even do math. <br>

    what enables multiple things inside a print statement is the ‘+’. This plus concatenates whatever you put in and prints a coherent response. Without the plus operator, you couldn't have more than one thing inside a print statement. </p>

{% include 'partials/article_navigation.html' %}
{% endblock %}
