{% extends 'base.html' %}
{% block title %}What are print statements?{% endblock %}

{% block content %}
<h1>What are print statements?</h1>


<p> Printing is one of the most basic yet helpful function in python, capable of printing information to the console.</p> <br>

<p> ‘Print()’ statements are unbelievably useful because can print a sentence, a function, a combination of different values and can even do math!<br></p>
    
<p>what enables multiple options inside a print statement is the ‘+’ operator. It helps put multiple things inside a print statement </p> <br>

<img src = "../../../static/images/code42.jpg" alt = "python code"> 


<P>It’s important to know that you need to put “”  or ‘’ around any strings you want to print, or else the code will error. </P><br><br>

<p>With quotes: </p>
<img src = "../../../static/images/code40.jpg" alt = "python code"> 

<p>Without quotes: </p>
<img src = "../../../static/images/code41.jpg" alt = "python code"> 

<p>But remember, that is only for a string, not for ints/numbers or functions, which we will go over later in the course.</P>


{% include 'partials/article_navigation.html' %}
{% endblock %}
