{% extends 'base.html' %}
{% block title %}What are conditionals?{% endblock %}

{% block content %}
<h1>What are conditionals?</h1>
<p>Conditional statements are a powerful tool in programming. These are an overarching term, but the most common use of conditionals is “if statements” <br>

An if statement checks if a condition is true. If it is, it executes some code. If the condition is not true, it doesn’t. <br>

Let’s look at an example </p>
<img src = "../../../static/images/ode26.jpeg" alt = "python code">

<p>The if statement in this example checked if x equaling true was true. Because it was, it printed hello. If x had been false, nothing would have printed. <br>

The reason for using conditionals in most programs is to control what code executes. If you’re making a basic chatbot, you might want it to celebrate if you say you got an A on a test, but not if you got an F. <br>

Conditionals can also help programs recognize important data, like if a number is even or odd. Any even number divided by 2 will divide evenly, so we can use the modulus operator in a conditional to test if a number is even or odd! <br>

Let’s look at an example.</p>
<img src = "../../../static/images/ode27.jpeg" alt = "python code">
<p>Conditionals are not just if statements though, which is part of how they’re so useful! We will continue to use these throughout the course, but these basics are key to understand. </p>
{% include 'partials/article_navigation.html' %}
{% endblock %}
