{% extends 'base.html' %}
<h1>What are elif and else statements?</h1>
<p>As useful as if statements are, we’ve so far only looked at a third of what they can do. If statements are most useful when using multiple conditions with elif and else.  <br>

Else allows for you do so something if the “if” is not true. Elif allows you to check multiple conditions. If the if condition and elif conditions are untrue, then the else code will execute. </p>
<img src = "images/code28.png" alt = "python code">
<p>We can use this to make more complex programs.</p>
<img src = "images/code29.png" alt = "python code">

<p>Using the ‘and’ and ‘or’ operators we can have more control over when a line of code executes! <br>

This could include math as well! </p>

<img src = "images/code30.png" alt = "python code">
<p>Finally, we can also use if statements to make checks to have a program work.</p>
<img src = "images/code31.png" alt = "python code">

<p>Overall, if statements using elif and else are very useful. They can be used to control your program’s functionality. I would highly reccomend playing around with these on your own. You can make very cool programs even just using if statements! </p>