{% extends 'base.html' %}
{% block title %}What are functions{% endblock %}

{% block content %}
<!-- UPDATE NUMBERS AFTER COMPLETING CHATPER 5: THEY ARE NOT FILLED IN -->
<h1>What are functions</h1>

<p>Imagine you wanted to iterate through 3 different lists and find the highest value in each of them. To do this, you’d have to write the same code 3 different times, taking up lots of space. This is a perfect example of when we would use a function. 

You define functions like this: </p>

<code>
    <p>def functionName():</p>
    <p style = "text-indent: 30px;" >Function body</p>
</code>

<p>You then call it as functionName(). The def keyword tells python you are defining a function. <br>

The same way you can use a function in python, like print, you can define your own! <br>

Let’s look at an example. </p>

<img src = "images/codeNum.png" alt = "python code">

<p>
    This function took in a list as an argument and returned the highest value it found from the list. This allowed us to check the 3 lists’ values in 3 lines of code instead of in closer to 20. <br>
    However, functions don’t have to take in arguments. For example, the meow function. </p>
<img src = "images/codeNum.png" alt = "python code">

<p>This function takes in no arguments and prints meow whenever printed. This is not very useful, but there are many very useful functions you could create that don’t take in arguments! </p>

<p>You can also define match cases as a function for ease of use! Here is an example. </p>
<img src = "images/codeNum.png" alt = "python code">
<p>
    The “case int()" ensures that the checks will only occur if x is an integer to avoid errors. This function allows us to do a match case statement over and over again and can be very useful for repeated checks. <br>

    Overall, functions are a very useful resource that can help make big projects not just easier, but possible. 
</p>
{% include 'partials/article_navigation.html' %}
{% endblock %}
