{% extends 'base.html' %}
{% block title %}Functions as function arguments{% endblock %}

{% block content %}
<!-- UPDATE NUMBERS AFTER COMPLETING CHATPER 5: THEY ARE NOT FILLED IN -->
<h1>Functions as function arguments</h1>

<p>Another concept that can be useful is functions that take in other functions as arguments. This can be useful for something like processing data. Let's look at an example.</p>
<img src = "images/codeNum.png" alt = "python code">

<p>In this example, the processList function did a certain behavior because it took in the processNumber function. However, if instead of adding 1.5 I wanted to add 4 to each number I could define processNumber2 and run processList with that function. 

Having functions take in other functions is a fairly simple, although unintuitive, concept that can be quite useful. <br>

That's all you need about functions for now! Use this to elevate the skills you’ve developed from chapters 1-5 and enjoy!!! <br>

Then, once you’re ready, move onto the final chapter of the course!!! </p>
{% include 'partials/article_navigation.html' %}
{% endblock %}
