{% extends 'base.html' %}
<h1>What are nested loops?</h1>
<p>In the last lesson we went over all the basics you need for a loop: now, let’s learn how to use loops to their fullest potential, using nested loops. <br>

A nested loop is essentially a loop within a loop. This idea can be a bit confusing at first, so let’s use an example. <br>

Imagine you wanted to use a loop to draw a triangle that looked like this: </p>

<p>
* <br>

** <br>

*** <br>

**** <br>

***** <br>

****** <br>

******* <br>

******** <br>

********* <br></p>

<p>To achieve this: you would use nested loops.</p>
<img src = "images/code36.png" alt = "python code">

<p>The end = “” is there to ensure each star is on the same line. <br>

The way the nested loop works is the outer loop will run 10 total times. The inner loop will go to completion for each iteration of the outer loop. <br>

So, when i = 0, j = 0 and it moves on. <br>

When i = i, j = 0, and prints and then 1 so it stops. <br>

This continues with j printing one more each time until it prints 9 stars in the final line. </p>

<img src = "images/code37.png" alt = "python code">
<p>
    This example helps explain how nested for loops work: the inner loop happens to completion based on the outer loop.  <br>
    Please explore using these loops: they are very useful but can be quite confusing at times. Work this out and then move onto the final lesson chapter 4! You’re doing a great job. 
</p>
