{% extends 'base.html' %}
{% block title %}What are while loops?{% endblock %}

{% block content %}
<h1>What are while loops?</h1>
<p>
While for loops are a very useful tool, there are times they can be difficult to implement, such as doing a task repetitively until a user says to stop. <br>
For such a program, you would instead want a while loop. <br>
A while loop checks a condition and repetitively does a task until the condition is no longer true.  <br>
Let’s look at an example of a while loop! </p>
<img src = "../../../static/images/code38.jpeg" alt = "python code">
<p>This example utilizes the “input” function. This function will print out the value you put into it and assign what the user types to a variable. <br>

The “\n” stands for the new line character in python, this is not there to make anything work just so it looks better. <br>

The while loop in this example was executed over and over again until “no” was inputted. This simple structure is how a while loop. Most problems requiring loops could be solved using a for loop or while loop. For example, let’s do the same counting r’s in strawberry exercise as in 4a! Try it for yourself and then compare to my code!</p>

<img src = "../../../static/images/code39.jpeg" alt = "python code">

<p>So, as you can see, doing this problem with a while loop is a bit more work, but does still work. 

Feel free to explore on your own further, and when you’re ready, move onto chapter 5!!!  </p>
{% include 'partials/article_navigation.html' %}
{% endblock %}
