{% extends 'base.html' %}
{% block title %}What is the Math module? {% endblock %}

{% block content %}
<h1>What is the Math module?</h1>

<p>The math module, as the name might suggest, is a library of many math functions that aren’t built into python. </p> <br> 

<p>There’s the square root function, which returns the square root of a number, ‘math.sqrt(numberValue)’. </p> <br>  

<img src = "../../../static/images/code53.jpg" alt = "python code"> <br>  

<p>There's the also a function that returns true if two numbers are in proximity of each other, ‘math.isclose(num1, num2, num3)’. Num1 and num2 being whatever is being compared. </p> <br>  

<img src = "../../../static/images/code54.jpg" alt = "python code"> <br>  


<p>Those are just two of the many useful functions that the math module has to offer. </p>

{% include 'partials/article_navigation.html' %}
{% endblock %}