{% extends 'base.html' %}
{% block title %}What is the random module? {% endblock %}

{% block content %}
<h1>What is the random module?</h1>

<p>The Random module, which one of the functions can be seen in the first part of this chapter, is used to randomly select, create, and do so much more with ints. </p> <br> 

<p>As seen in the first part of this chapter, the ‘random.random()’ function generates a random number between 0 and 1. </p> <br> 

 
<img src = "../../../static/images/code50.jpg" alt = "python code"> <br>  

<p>Another useful function is the uniform() function that generates a random number between two specified variables; ‘random.uniform(val1 , val2)’. </p> <br> 

<img src = "../../../static/images/code55.jpg" alt = "python code"> <br>  

<p>To find out more about what this library can do, you should look up the random module and look at all the other cool things you can do. </p><br> 




{% include 'partials/article_navigation.html' %}
{% endblock %}