{% extends 'base.html' %}
{% block title %}Can you import other files? {% endblock %}

{% block content %}
<h1>Can you import other files?' </h1>

<p>Can you Import your own files to a python program? </p><br>  

<p>The answer is yes, you can import other python files into your program. </p><br>  

<p> You can import other files by writing 'import FileName'. </p><br> 

<img src = "../../../static/images/code56.jpg" alt = "python code"> <br> 


<p>BUT, you NEED the file to be in the same directory to access it like that. </p><br>  

<p>If the file is in another directory, you will do something different.</p><br>  

<p>It is more complex and we urge you to try to find it and try it out, but we will not go over it here. </p><br> 

 

<p>If you want to import a specific function you do the same thing you would do with any other outside package, 'from' filename 'import' function. </p><br> 

 
<img src = "../../../static/images/code57.jpg" alt = "python code"> <br>  



{% include 'partials/article_navigation.html' %}
{% endblock %}