{% extends 'base.html' %}
{% block title %}Lists and Loops.{% endblock %}

{% block content %}
<h1>Lists and Loops.</h1>

<p>You have now made a list of your favorite numbers but what now?</P> <br> 

 
<p>Over time your list of favorite numbers might change, so how will we change the list to show that?</p><br>  

<p> The simple answer is making a loop. Loops can be used to edit, identify and do many other things with lists. you can use it to print a list.</p><br> 
<img src = "../../../static/images/code48.jpg" alt = "python code"> <br> 


<p>You have now made a list of your favorite numbers but what now?</P> <br> 

 
<p> Not only that, it can remove a specific item in the list.</p><br> 
 <img src = "../../../static/images/code49.jpg" alt = "python code"> <br> 

 

<p>loops are super useful when lists are considered.</p> 

 <p>They give you the ability to augment the list in whatever why you need. Because if that, loops are almost always used with loops. </p> 
{% include 'partials/article_navigation.html' %}
{% endblock %}