{% extends 'base.html' %}
{% block title %}What is programming?{% endblock %}

{% block content %}
<h1>What is programming?</h1>

<p>Programming is defined as “the process or activity of writing computer programs.” The reason we have to use this instead of just talking normally to a computer like we would to another person is how computers process information. 

Computers process information using binary, a base 2 number system. </p>

<img src = "images/binaryImage.png" alt = "binary image">
<p>Programming languages are how we interface with computers due to this. Because a computer doesn’t understand our language, and we don’t understand binary, we use programming languages! <br><br>

An example of this could be asking a computer to print information.<br><br>
 
This is a line of code in the programming language python: print("Hello, World!")<br><br>

When you run this line of code the python virtual machine will activate. This is code someone wrote to translate your python code into binary. It will give this binary to your computer and then run your code. <br><br>

Because of this, programming has its own version of grammar called “syntax”. <br><br>

Syntax is basically the same thing as grammar for programming. There are rules for how you need to say certain things to a computer, and if you say them wrong it doesn’t understand. </p>

<p>Let's look at an example</p>
<img src = "images/code1.png" alt = "python code">

<p>Because I didn’t have double quotes ( “ this symbol) around both sides of the text in the parentheses, the computer couldn’t understand what I was asking it to do and gave a “syntax error”. <br><br>

In order to run python on your own device you’ll need to follow a few simple steps. </p>

<p>Now, let’s download python so you can begin programming with us! If you already have python installed or have a different IDE you already know how to use feel free to skip this! <br><br>

If you don’t have python installed or don’t know what that means, that's okay! You’ll learn following the course, and please complete the instructions below. </p>

<p>#1 google “python installation” and click the first link</p>

<img src = "pythonDownload.png" alt = "python download page">

<p>Then click “download” and run the file you’ve installed. <br><br>

Run that file and navigate through the menu. Then look up “idle” in the windows menu by clicking the windows button and “open” or on mac hit cmd + space and look up IDLE. <br><br>

We will use this in later lessons to write and run python code! </p>
{% include 'partials/article_navigation.html' %}
{% endblock %}
