{% extends 'base.html' %}
{% block title %}What are variables?{% endblock %}

{% block content %}
<h1>What are variables?</h1>
<p>Variables are an incredibly important concept in programming you may remember from a math class. You essentially come up with an arbitrary name, like x, and give it a value. </p>
<p>Let’s look at an example. </p>
<img src = "images/code2.png" alt = "python code">
<p>In this segment, I defined the variable x as equaling 5.  <br><br>

We use variables because it is often very useful to be able to change a value. <br><br>

For example, let’s say I want to count to 5. Instead of having to re make a new variable I can just make it one bigger each time. </p>
<img src = "images/code3.png" alt = "python code">

<p>You can name a variable almost anything, but not anything. Variables cannot start with a number. They can include a number, but the first character must be a letter or an underscore “_”. They also cannot include special characters. These include symbols like !, $, # * and more.  <br><br>
 
A final point is that variables are case-sensitive. This means you have to say the exact spelling and capitalization of your variable to access it—like a password. If you misspell a password, it doesn’t work to log you in, a variable is the same way. If you don’t say it exactly correctly, the computer won’t know what you’re talking about, and it won’t work. <br><br>

Additionally, you cannot name your variables something called “reserved words”. Reserved words are words which are used in python itself. Examples of this are True and False. Here is a link to a list of reserved words if you are interested. <a href = "https://realpython.com/lessons/reserved-keywords/" >Link</a>  <br><br>

Variables are a very useful tool in programming, and their use will become more obvious as you program more. </p>

{% include 'partials/article_navigation.html' %}
{% endblock %}
