{% extends 'base.html' %}
{% block title %}What is programming?{% endblock %}

{% block content %}

<h1>Print statements!</h1>

<p> Printing is one of the most basic yet helpful function in python, capable of printing information to the console.</p> 

<p> ‘Print()’ statements are unbelievably useful because can print a sentence, a function, a combination of different values and can even do math. \ln what enables multiple things inside a print statement is the ‘+’. This plus Concatenates whatever you put in and prints a coherent response. Without the plus operator, you couldn't have more than one thing inside a print statement. </p>
 
<image>

 





{% include 'partials/article_navigation.html' %}
{% endblock %}